@charset "UTF-8";

/* 共通部分 */
html {
  font-size: 100%
}

body {

}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.wrapper {
  padding: 10px;
  margin: 0 auto;
  max-width: 1100px;
}

/* header */

#header {
  display: flex;
  justify-content: space-between;
}

#header h1 {
  background: black;
  color: white;
  
}

#header nav {
  align-items: center;
}

#header ul{
  padding: 10px 0;
  display: flex;
  
}

#header li {
  list-style: none;
  padding: 0 10px;
}

#header a {
  color: black;
}

/* header */

/* main */

.main-img {
  
}

main {
  text-align: center;
}

.section-title {
  border-bottom: .5px black solid;
  display: inline-block;
}

#about img {
  width: 50px;
  border-radius: 50%;
}

.intro-about {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

section {
  margin-top: 40px;
}

.intro {
  margin-left: 10px;
  text-align: left;
}

.items img {
  width: 250px;
}

.grid {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-top: 6%;
  margin-bottom: 50px;
}

/* footer */

footer {
  background: black;
  text-align: center;
  padding:20px 0;
}

footer p {
  color: white;
  font-size: 1rem;
}

/* モバイル */

@media (max-width: 600px) {

  .grid{
    display: block;
    }
  
  .items {
    margin: 20px 0;
  }


}